
{% extends "entries/base.html" %}

{% block content %}



    <div class="col-md-8">

        <div class="card mb-4 mt-4">
          <div class="card-header">
            Login to your Account
          </div>
          <div class="card-body">
              <form method="POST">
                  {% csrf_token %}
                  {{form.as_p}}
                  <button type="submit" style="margin:5px;" class="btn btn-primary">Login

                  </button>
                  <button type="reset"  style="margin:5px;" class="btn btn-primary">
                      Reset
                  </button>

                  <a href="{% url 'password_reset'  %}"  style="margin:5px; alignment: center" class="btn btn-primary">Forgot Password</a>
                    <br>
                  <a href="{% url 'register'  %}"  style="margin:5px; alignment: center" class="btn btn-primary">Register</a>

              </form>
           </div>
        </div>

      </div>

{% endblock %}